body {
	font-family: "微软雅黑",
	font-size:140px;
}

#father {
	width:200px;
	height:200px;
	border:1px solid black;
	font-size:30px; 
}

#son {
	width:50%;
	height:50%;
	border:1px solid black;
	font-size:50%; 
}

#ap {
	font-size: 15px;
	text-indent:2em;
	width: 500px;
}

#zt {
	font-size: 16px;
}

.c1 {
	font-size: 1em;
}

.c2 {
	font-size: 1.5em;
}

.c3 {
	font-size: 2em;
}

.c4 {
	font-size: 15px;
	width:150px;
	height:75px;
	text-indent: 30px;
}

.c5 {
	font-size:1.5em;
	width:10em;
	height:5em;
	text-indent: 2em;
}

#button1 {
	background: green;
	/*width:100px;
	height: 70px;*/
	/*margin:30px;*/
	padding:5px;
	margin-left: 50px;
	margin-right:1100px;
	font-size: 16px;
	padding-left: 70px;
}

#img1 {
	/*vertical-align: text-bottom;*/
	margin:0px 3px -3px 0px;
}

/*#d1,#d2 {
	float:left;
	color :white;
}
*/
#d1 {
	width:100%;
	margin-right: -500px;
	background: red;
}

#d2 {
	width:500px;
	background: purple;
}

#d1 p {
	margin-right: 510px;
}

		.father {
			position:relative;
			width:200px;
			height:100px;
			border:1px dashed black;
		}
		.son {
			position:absolute;
			width:100px;
			height:60px;
			top:50%;
			left:50%;
			margin-top: -30px;
			margin-left:-50px;
			background:purple;
		}
		.son2 {
			position:absolute;
			width:100px;
			height:60px;
			top:50%;
			left:50%;
/*			margin-top: -30px;
			margin-left:-50px;*/
			background:red;
		}

#a1 {
	width:800px;
	height:100px;
	overflow:scroll;
}

.c6 {
	width: 60px;
	height:60px;
	display:inline-block;
	border:1px black solid;
	font-size:20px;
	text-align:center;
	vertical-align: center;
}

#two {
	display: none;
}

.c7 {
	height:300px;
	width:500px;
	border:1px black solid;
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}